* {
    box-sizing: border-box;
    background-color: #25202E;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    border: 5px solid #4F706C;
    margin: 10px;
    border-radius: 10px;
}

header div {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

#addtask {
    color: white;
    border: 4px solid #025770;
    background-color: #027056;
     padding: 10px;
    border-radius: 20px;
    margin-left: 20%;
    cursor: pointer;
}

#addtask:hover {
    padding: 15px;
    background-color: #696C70;
}

.task {
    font-size: 20px;
    margin: 10px;
    display: flex;
    gap: 20px;
}

.nm-task {
    border: 5px solid #4F706C;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    height: 250px;
    width: 35%;
}

.com-task {
    border: 5px solid #4F706C;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    height: 250px;
    width: 35%;
}

.pending {
    border: 5px solid #4F706C;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    height: 250px;
    width: 35%;
}

.search {
    border: 5px solid #4F706C;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap:10px;
}

.search input,
.search select {
    border: 2px solid rgb(210, 46, 46);
    border-radius: 4px;
    padding: 10px 20px;
}

.tasklist {
    border: 5px solid #4F706C;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

#task-container {
    padding: 20px;
}
.task-item {
    border: 4px solid #4F706C;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #302A3A;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: space-evenly;
    
}

.task-item h3 {
    margin-bottom: 10px;
    background-color: #302A3A;
}

.task-item p {
    margin: 8px 0;
    background-color: #302A3A;
}


.task-item button {
    border: 3px solid #025770;
    background-color: #027056;
    color: white;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 10px;
    margin-right: 8px;
    cursor: pointer;
}

.task-item button:hover {
    background-color: #696C70;
}

.btn {
    border: 3px solid red;
    background-color: #025770;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    background-color: #027056;
}
/* add a style when i click the complete btn  */
.completed{
    color:#14417a;
    text-decoration:line-through;
    
}
.search input,
.search datalist {
    border: 2px solid rgb(210, 46, 46);
    border-radius: 4px;
    padding: 10px 20px;
}
#selectpriority {
    border: 2px solid rgb(210, 46, 46);
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #302A3A;
    color: white;
}
#selectdate{
     border: 2px solid rgb(210, 46, 46);
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #302A3A;
    color: white;

}
datalist option {
    background-color: #302A3A;
    color: white;
}